div.btn{
    background-color: plum;
    color: blueviolet;
    height: 30px;
    width: 100px;
    text-align: center;
    padding: 30px;
    margin: 50px;
    box-shadow: grey 10px 10px 5px;

    transition: 1s;
}

div.btn:hover{
    transform: translate(-10px,-10px);
    box-shadow: grey 20px 20px 10px;
    transition: 0.2s;
}

div.btn:active{
    transform: translate(5px,5px);
    box-shadow: black 5px 5px 1px;
}